*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    line-height: 1.4;
}

/* GENERIC CLASSES ARE SCATTERED AROUND BECAUSE THEY WERE WRITTEN AS NEEDED */

/* HEADER CLASSES */

header{
    padding: 20px;
    z-index: 1;
    position: fixed;
    width: 100%;
    background-color: white;
}

.row{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.space-between-center{
    justify-content: space-between;
    align-items: center;
}

ul{
    list-style: none;
}

li{
    padding: 0px 20px;
}    

.align-center{
    align-self: center;
}

.flex{
    display: flex;
    justify-content: space-between;
}

.dropbox-style-button{
    background-color: blue;
    color: white;
    padding: 5px 20px;
    width: fit-content;
}

/* MAIN CLASSES */

.bg-lightblue{
    background-color: rgb(101, 142, 180);
}

#jumbotron-container{
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.big-center-container{
    max-width: 1200px;
    margin: 20px auto;
    position: absolute;
    bottom: -10%;
}

.col-35{
    width: 35%;
}

.col-65{
    width: 65%;
}

.col-33{
    width: calc(100% / 3 - 20px);
}

.col-33-nogap{
    width: calc(100% / 3);
}

.col-100{
    width: 100%;
}

.col-35 div{
    margin-bottom: 20px;
}

main img{
    width: 100%;
}

.small-center-container{
    max-width: 1000px;
    margin: 100px auto;
}

.border-solid{
    border: 1px solid grey;
}

.gap-20{
    gap: 20px;
}

.dropbox-style-button-alternative{
    background-color: white;
    color: black;
    padding: 5px 20px;
    width: fit-content;
}

.bg-blue{
    background-color: rgb(1, 1, 136);
}

.bg-red{
    background-color: red;
}

.bg-lightgreen{
    background-color: lightgreen;
}

.bg-burgundy{
    background-color: rgb(109, 22, 22);
}

.bg-cyan{
    background-color: rgb(25, 70, 122);
}

.bg-yellow{
    background-color: rgb(196, 196, 0);
}

.bg-dirtywhite{
    background-color: rgb(207, 207, 207);
}

.color-gray{
    color: gray;
}

.color-violet{
    color: rgb(116, 59, 111);
}

.square{
    width: 50%;
    height: calc(100vw / 6);
    position: relative;
}

hr{
    width: 100%;
    border: 1px solid gray;
}

.bg-dirtywhite > div > img{
    filter:invert(100%);
}

.square > img{
    width: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    filter: invert(100%);
}

.blue-check li:before{
    content: "\2713";
    color: blue;
}

.margin-auto{
    margin: auto;
}

/* FOOTER CLASSES */

footer{
    background-color: black;
    width: 100%;
    height: 40vh;
}

footer > .big-center-container{
    position: relative;
    color: white;;
}

footer ul > li{
    padding: 10px 0px;
}

hr{
    margin: 20px 0px;
}

.pad-30-all{
    padding: 30px;
}

.pad-30-vert{
    padding: 30px 0px;
}

.marg-30-all{
    margin: 30px;
}

.text-center{
    text-align: center;
}

.blue-check li{
    margin-bottom: 20px;
}

.one-border-down{
    border-bottom: 1px solid gray;
}

.short-separators{
    width: 25%;
    margin-left: 15%;
}